# RPC URLs
BASE_RPC_URL=https://mainnet.base.org
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org

# Private key for deployment (with 0x prefix)
PRIVATE_KEY=

# Contract address (for scripts)
POAP_BASE=
POAP_BASE_SEPOLIA=0xC3249356a483fbe17d5355D39105D2eA666d9de6

# Protocol deployer address
DEPLOYER_BASE_SEPOLIA=
DEPLOYER_BASE=

# Etherscan API key for verification
BASESCAN_API_KEY=
